/*Discendent Selctor */
main p{
    background-color: #0fff00;
    color: #000;
    text-align: center;
}

/* child selector */

h2 >p{
    background-color: #000;
    color:#808080
}

/*Adjacent sibling selector */

section +p{
    color:#0fff;
    background-color: #000;
    
}

/* Attribute selector */

[target=_blank]{
    background-color: pink;
    text-decoration: none;
}

[alt|="Pw"]{
    background-color: #000;
}


